# Librairies

In [1]:
import pandas as pd
import bs4
from urllib import request

# Webscrapping Wikipedia Dataset: Évolution de la population de la France métropolitaine (estimations avant 1950)

In [2]:
url_wiki = ("https://fr.wikipedia.org/wiki/Histoire_d%C3%A9mographique_de_la_France")
request_text = request.urlopen(url_wiki).read()
page = bs4.BeautifulSoup(request_text, "lxml")
print(page.find("title"))
print("There are", len(page.findAll("table")), "elements which are <table>")

<title>Histoire démographique de la France — Wikipédia</title>
There are 17 elements which are <table>

In [3]:
all_tables = page.find_all("table", {"class": "wikitable"})
for i, tab in enumerate(all_tables):
    print("Table: {}\n".format(i))
    print(tab)

Table: 0

<table class="wikitable">
<tbody><tr>
<th scope="row">Date
</th>
<th scope="row">Habitants
</th></tr>
<tr>
<td>15 000 av. J.-C.</td>
<td>50 000
</td></tr>
<tr>
<td>5000 av. J.-C.</td>
<td>500 000
</td></tr>
<tr>
<td>2500 av. J.-C.</td>
<td>5 500 000
</td></tr>
<tr>
<td>An 1</td>
<td>7 000 000
</td></tr>
<tr>
<td>400</td>
<td>12 000 000
</td></tr>
<tr>
<td>800</td>
<td>8 800 000
</td></tr>
<tr>
<td>850</td>
<td>6 000 000
</td></tr>
<tr>
<td>1226</td>
<td>16 000 000
</td></tr>
<tr>
<td>1300</td>
<td>15 000 000
</td></tr>
<tr>
<td>1345</td>
<td>20 200 000
</td></tr>
<tr>
<td>1350</td>
<td>15 000 000
</td></tr>
<tr>
<td>1400</td>
<td>12 000 000
</td></tr>
<tr>
<td>1457</td>
<td>11 000 000
</td></tr>
<tr>
<td>1500</td>
<td>14 000 000
</td></tr>
<tr>
<td>1550</td>
<td>15 300 000
</td></tr>
<tr>
<td>1560</td>
<td>16 200 000
</td></tr>
<tr>
<td>1580</td>
<td>16 500 000
</td></tr>
<tr>
<td>1600</td>
<td>20 000 000
</td></tr>
<tr>
<td>1620</td>
<td>21 000 000
</td></tr>
<tr>
<td>1650</td>
<td>20 000 000
</td></tr>
<tr>
<td>1680</td>
<td>21 000 000
</td></tr>
<tr>
<td>1700</td>
<td>21 000 000
</td></tr>
<tr>
<td>1715</td>
<td>19 600 000
</td></tr>
<tr>
<td>1730</td>
<td>23 800 000
</td></tr>
<tr>
<td>1740</td>
<td>24 600 000
</td></tr>
<tr>
<td>1750</td>
<td>24 500 000
</td></tr>
<tr>
<td>1760</td>
<td>25 700 000
</td></tr>
<tr>
<td>1770</td>
<td>26 600 000
</td></tr>
<tr>
<td>1780</td>
<td>27 600 000
</td></tr>
<tr>
<td>1789</td>
<td>28 600 000
</td></tr>
<tr>
<td>1790</td>
<td>28 100 000
</td></tr>
<tr>
<td>1795</td>
<td>28 103 000
</td></tr>
<tr>
<td>1801</td>
<td>29 361 000
</td></tr>
<tr>
<td>1806</td>
<td>29 648 000
</td></tr>
<tr>
<td>1810</td>
<td>30 000 000
</td></tr>
<tr>
<td>1811</td>
<td>30 271 000
</td></tr>
<tr>
<td>1816</td>
<td>30 573 000
</td></tr>
<tr>
<td>1821</td>
<td>31 578 000
</td></tr>
<tr>
<td>1826</td>
<td>32 665 000
</td></tr>
<tr>
<td>1831</td>
<td>33 595 000
</td></tr></tbody></table>
Table: 1

<table class="wikitable">
<tbody><tr>
<th scope="row">Date
</th>
<th scope="row">Habitants
</th></tr>
<tr>
<td>1836</td>
<td>34 293 000
</td></tr>
<tr>
<td>1841</td>
<td>34 912 000
</td></tr>
<tr>
<td>1846</td>
<td>36 097 000
</td></tr>
<tr>
<td>1851</td>
<td>36 472 000
</td></tr>
<tr>
<td>1856</td>
<td>36 715 000
</td></tr>
<tr>
<td>1861</td>
<td>37 386 000
</td></tr>
<tr>
<td>1872</td>
<td>37 653 000
</td></tr>
<tr>
<td>1876</td>
<td>38 783 000
</td></tr>
<tr>
<td>1881</td>
<td>39 239 000
</td></tr>
<tr>
<td>1886</td>
<td>39 783 000
</td></tr>
<tr>
<td>1891</td>
<td>39 946 000
</td></tr>
<tr>
<td>1896</td>
<td>40 158 000
</td></tr>
<tr>
<td>1901</td>
<td>40 710 000
</td></tr>
<tr>
<td>1902</td>
<td>40 810 000
</td></tr>
<tr>
<td>1903</td>
<td>40 910 000
</td></tr>
<tr>
<td>1904</td>
<td>41 000 000
</td></tr>
<tr>
<td>1905</td>
<td>41 050 000
</td></tr>
<tr>
<td>1906</td>
<td>41 100 000
</td></tr>
<tr>
<td>1907</td>
<td>41 100 000
</td></tr>
<tr>
<td>1908</td>
<td>41 190 000
</td></tr>
<tr>
<td>1909</td>
<td>41 240 000
</td></tr>
<tr>
<td>1910</td>
<td>41 350 000
</td></tr>
<tr>
<td>1911</td>
<td>41 420 000
</td></tr>
<tr>
<td>1912</td>
<td>41 530 000
</td></tr>
<tr>
<td>1913</td>
<td>41 620 000
</td></tr>
<tr>
<td>1914</td>
<td>41 630 000
</td></tr>
<tr>
<td>1915</td>
<td>40 020 000
</td></tr>
<tr>
<td>1916</td>
<td>40 020 000
</td></tr>
<tr>
<td>1917</td>
<td>39 420 000
</td></tr>
<tr>
<td>1918</td>
<td>38 670 000
</td></tr>
<tr>
<td>1920</td>
<td>38 900 000
</td></tr>
<tr>
<td>1921</td>
<td>39 140 000
</td></tr>
<tr>
<td>1922</td>
<td>39 750 000
</td></tr>
<tr>
<td>1923</td>
<td>39 750 000
</td></tr>
<tr>
<td>1924</td>
<td>40 170 000
</td></tr>
<tr>
<td>1925</td>
<td>40 460 000
</td></tr>
<tr>
<td>1926</td>
<td>40 710 000
</td></tr>
<tr>
<td>1927</td>
<td>40 770 000
</td></tr>
<tr>
<td>1928</td>
<td>40 880 000
</td></tr>
<tr>
<td>1929</td>
<td>41 020 000
</td></tr></tbody></table>
Table: 2

<table class="wikitable">
<tbody><tr>
<th scope="row">Date
</th>
<th scope="row">Habitants
</th></tr>
<tr>
<td>1930</td>
<td>41 340 000
</td></tr>
<tr>
<td>1931</td>
<td>41 550 000
</td></tr>
<tr>
<td>1932</td>
<td>41 510 000
</td></tr>
<tr>
<td>1933</td>
<td>41 520 000
</td></tr>
<tr>
<td>1934</td>
<td>41 570 000
</td></tr>
<tr>
<td>1935</td>
<td>41 550 000
</td></tr>
<tr>
<td>1936</td>
<td>41 500 000
</td></tr>
<tr>
<td>1937</td>
<td>41 530 000
</td></tr>
<tr>
<td>1938</td>
<td>41 560 000
</td></tr>
<tr>
<td>1939</td>
<td>41 510 000
</td></tr>
<tr>
<td>1940</td>
<td>40 690 000
</td></tr>
<tr>
<td>1941</td>
<td>39 420 000
</td></tr>
<tr>
<td>1942</td>
<td>39 220 000
</td></tr>
<tr>
<td>1943</td>
<td>39 860 000
</td></tr>
<tr>
<td>1944</td>
<td>38 770 000
</td></tr>
<tr>
<td>1945</td>
<td>39 660 000
</td></tr>
<tr>
<td>1946</td>
<td>40 287 000
</td></tr>
<tr>
<td>1947</td>
<td>40 679 000
</td></tr>
<tr>
<td>1948</td>
<td>41 112 000
</td></tr>
<tr>
<td>1949</td>
<td>41 480 000
</td></tr>
<tr>
<td>1950</td>
<td>41 647 258
</td></tr>
<tr>
<td>1951</td>
<td>42 010 088
</td></tr>
<tr>
<td>1952</td>
<td>42 300 981
</td></tr>
<tr>
<td>1953</td>
<td>42 618 354
</td></tr>
<tr>
<td>1954</td>
<td>42 885 138
</td></tr>
<tr>
<td>1955</td>
<td>43 227 872
</td></tr>
<tr>
<td>1956</td>
<td>43 627 467
</td></tr>
<tr>
<td>1957</td>
<td>44 058 683
</td></tr>
<tr>
<td>1958</td>
<td>44 563 043
</td></tr>
<tr>
<td>1959</td>
<td>45 014 662
</td></tr>
<tr>
<td>1960</td>
<td>45 464 797
</td></tr>
<tr>
<td>1961</td>
<td>45 903 656
</td></tr>
<tr>
<td>1962</td>
<td>46 422 000
</td></tr>
<tr>
<td>1963</td>
<td>47 573 406
</td></tr>
<tr>
<td>1964</td>
<td>48 059 022
</td></tr>
<tr>
<td>1965</td>
<td>48 561 800
</td></tr>
<tr>
<td>1966</td>
<td>48 953 792
</td></tr>
<tr>
<td>1967</td>
<td>49 373 537
</td></tr>
<tr>
<td>1968</td>
<td>49 723 072
</td></tr>
<tr>
<td>1969</td>
<td>50 107 735
</td></tr></tbody></table>
Table: 3

<table class="wikitable">
<tbody><tr>
<th scope="row">Date
</th>
<th scope="row">Habitants
</th></tr>
<tr>
<td>1970</td>
<td>50 528 219
</td></tr>
<tr>
<td>1971</td>
<td>51 016 234
</td></tr>
<tr>
<td>1972</td>
<td>51 485 953
</td></tr>
<tr>
<td>1973</td>
<td>51 915 873
</td></tr>
<tr>
<td>1974</td>
<td>52 320 725
</td></tr>
<tr>
<td>1975</td>
<td>52 600 000
</td></tr>
<tr>
<td>1976</td>
<td>52 798 338
</td></tr>
<tr>
<td>1977</td>
<td>53 019 005
</td></tr>
<tr>
<td>1978</td>
<td>53 271 566
</td></tr>
<tr>
<td>1979</td>
<td>53 481 073
</td></tr>
<tr>
<td>1980</td>
<td>53 731 387
</td></tr>
<tr>
<td>1981</td>
<td>54 028 630
</td></tr>
<tr>
<td>1982</td>
<td>54 335 000
</td></tr>
<tr>
<td>1983</td>
<td>54 649 984
</td></tr>
<tr>
<td>1984</td>
<td>54 894 854
</td></tr>
<tr>
<td>1985</td>
<td>55 157 303
</td></tr>
<tr>
<td>1986</td>
<td>55 411 238
</td></tr>
<tr>
<td>1987</td>
<td>55 681 780
</td></tr>
<tr>
<td>1988</td>
<td>55 966 142
</td></tr>
<tr>
<td>1989</td>
<td>56 269 810
</td></tr>
<tr>
<td>1990</td>
<td>56 577 000
</td></tr>
<tr>
<td>1991</td>
<td>56 840 661
</td></tr>
<tr>
<td>1992</td>
<td>57 110 533
</td></tr>
<tr>
<td>1993</td>
<td>57 369 161
</td></tr>
<tr>
<td>1994</td>
<td>57 565 008
</td></tr>
<tr>
<td>1995</td>
<td>57 752 535
</td></tr>
<tr>
<td>1996</td>
<td>57 935 959
</td></tr>
<tr>
<td>1997</td>
<td>58 116 018
</td></tr>
<tr>
<td>1998</td>
<td>58 298 962
</td></tr>
<tr>
<td>1999</td>
<td>58 496 613
</td></tr>
<tr>
<td>2000</td>
<td>58 858 198
</td></tr>
<tr>
<td>2001</td>
<td>59 266 572
</td></tr>
<tr>
<td>2002</td>
<td>59 685 899
</td></tr>
<tr>
<td>2003</td>
<td>60 101 841
</td></tr>
<tr>
<td>2004</td>
<td>60 505 421
</td></tr>
<tr>
<td>2005</td>
<td>60 963 264
</td></tr>
<tr>
<td>2006</td>
<td>61 399 733
</td></tr>
<tr>
<td>2007</td>
<td>61 795 238
</td></tr>
<tr>
<td>2008</td>
<td>62 134 866
</td></tr>
<tr>
<td>2009</td>
<td>62 465 709
</td></tr></tbody></table>
Table: 4

<table class="wikitable">
<tbody><tr>
<th scope="row">Date
</th>
<th scope="row">Habitants
</th></tr>
<tr>
<td>2010</td>
<td>62 765 235
</td></tr>
<tr>
<td>2011</td>
<td>63 070 244
</td></tr>
<tr>
<td>2012</td>
<td>63 375 971
</td></tr>
<tr>
<td>2013</td>
<td>63 697 865
</td></tr>
<tr>
<td>2014</td>
<td>63 982 078
</td></tr>
<tr>
<td>2015</td>
<td>64 277 242
</td></tr>
<tr>
<td>2016</td>
<td>64 513 242
</td></tr>
<tr>
<td>2017</td>
<td>64 859 599
</td></tr>
<tr>
<td>2018</td>
<td>64 844 037
</td></tr>
<tr>
<td>2019</td>
<td>65 096 768
</td></tr>
<tr>
<td>2020</td>
<td>65 269 154
</td></tr>
<tr>
<td>2021</td>
<td>65 450 219
</td></tr>
<tr>
<td>2022</td>
<td>65 646 837
</td></tr>
<tr>
<td>2023</td>
<td>65 834 837
</td></tr></tbody></table>
Table: 5

<table class="wikitable" style="text-align:right">
<tbody><tr>
<th scope="row">Année
</th>
<th scope="row">1740
</th>
<th scope="row">1745
</th>
<th scope="row">1750
</th>
<th scope="row">1755
</th>
<th scope="row">1760
</th>
<th scope="row">1765
</th>
<th scope="row">1770
</th>
<th scope="row">1775
</th>
<th scope="row">1780
</th>
<th scope="row">1785
</th>
<th scope="row">1790
</th>
<th scope="row">1795
</th></tr>
<tr>
<td align="left">Population totale (en millions)</td>
<td>24,6</td>
<td>24,6</td>
<td>24,5</td>
<td>25,0</td>
<td>25,7</td>
<td>26,1</td>
<td>26,6</td>
<td>27,0</td>
<td>27,55</td>
<td>27,65</td>
<td>28,1</td>
<td>28,1
</td></tr>
<tr>
<td align="left"><a href="/wiki/Croissance_d%C3%A9mographique" title="Croissance démographique">Taux d'accroissement</a> annuel (‰)</td>
<td style="text-align:right; color:blue;">1</td>
<td style="text-align:right; color:blue;">3</td>
<td style="text-align:right; color:blue;">20</td>
<td style="text-align:right; color:blue;">28</td>
<td style="text-align:right; color:blue;">14</td>
<td style="text-align:right; color:blue;">19</td>
<td style="text-align:right; color:blue;">15</td>
<td style="text-align:right; color:blue;">21</td>
<td style="text-align:right; color:blue;">4</td>
<td style="text-align:right; color:blue;">16</td>
<td>0</td>
<td style="text-align:right; color:blue;">36
</td></tr></tbody></table>
Table: 6

<table class="wikitable" style="text-align:right">
<tbody><tr>
<th scope="row">Années
</th>
<th scope="row">1800
</th>
<th scope="row">1805
</th>
<th scope="row">1810
</th>
<th scope="row">1815
</th>
<th scope="row">1820
</th>
<th scope="row">1825
</th>
<th scope="row">1830
</th>
<th scope="row">1835
</th>
<th scope="row">1840
</th>
<th scope="row">1845
</th>
<th scope="row">1850
</th>
<th scope="row">1855
</th>
<th scope="row">1860
</th></tr>
<tr>
<td align="left">Population totale (en millions)</td>
<td>29,1</td>
<td>29,5</td>
<td>30,0</td>
<td>30,3</td>
<td>31,25</td>
<td>32,35</td>
<td>33,3</td>
<td>34,0</td>
<td>34,9</td>
<td>35,7</td>
<td>36,35</td>
<td>37,0</td>
<td>37,3
</td></tr>
<tr>
<td align="left">Taux d'accroissement annuel (‰)</td>
<td style="text-align:right; color:blue;">12</td>
<td style="text-align:right; color:blue;">18</td>
<td style="text-align:right; color:blue;">10</td>
<td style="text-align:right; color:blue;">31</td>
<td style="text-align:right; color:blue;">36</td>
<td style="text-align:right; color:blue;">29</td>
<td style="text-align:right; color:blue;">21</td>
<td style="text-align:right; color:blue;">25</td>
<td style="text-align:right; color:blue;">24</td>
<td style="text-align:right; color:blue;">18</td>
<td style="text-align:right; color:blue;">17</td>
<td style="text-align:right; color:blue;">9</td>
<td>
</td></tr></tbody></table>
Table: 7

<table class="wikitable" style="text-align:right">
<tbody><tr>
<th scope="col">âges
</th>
<th scope="col">1740
</th>
<th scope="col">1745
</th>
<th scope="col">1750
</th>
<th scope="col">1755
</th>
<th scope="col">1760
</th>
<th scope="col">1765
</th>
<th scope="col">1770
</th>
<th scope="col">1775
</th>
<th scope="col">1780
</th>
<th scope="col">1785
</th>
<th scope="col">1790
</th>
<th scope="col">1795
</th></tr>
<tr>
<td><b>0-19 ans</b>
</td>
<td>42,1
</td>
<td>42,2
</td>
<td>41,6
</td>
<td>41,1
</td>
<td>41,2
</td>
<td>41,0
</td>
<td>41,1
</td>
<td>40,7
</td>
<td>40,0
</td>
<td>40,15
</td>
<td>40,1
</td>
<td>40,3
</td></tr>
<tr>
<td><b>20-59 ans</b>
</td>
<td>49,6
</td>
<td>49,7
</td>
<td>50,3
</td>
<td>50,7
</td>
<td>50,3
</td>
<td>50,15
</td>
<td>50
</td>
<td>50,35
</td>
<td>51,25
</td>
<td>51,3
</td>
<td>51,4
</td>
<td>50,95
</td></tr>
<tr>
<td><b>60 et plus</b>
</td>
<td>8,3
</td>
<td>8,1
</td>
<td>8,1
</td>
<td>8,2
</td>
<td>8,5
</td>
<td>8,85
</td>
<td>8,9
</td>
<td>8,95
</td>
<td>8,75
</td>
<td>8,55
</td>
<td>8,5
</td>
<td>8,75
</td></tr>
<tr>
<td><b>Total (%)</b>
</td>
<td>100
</td>
<td>100
</td>
<td>100
</td>
<td>100
</td>
<td>100
</td>
<td>100
</td>
<td>100
</td>
<td>100
</td>
<td>100
</td>
<td>100
</td>
<td>100
</td>
<td>100
</td></tr></tbody></table>
Table: 8

<table class="wikitable" style="text-align:right">
<tbody><tr>
<th scope="col">âges
</th>
<th scope="col">1800
</th>
<th scope="col">1805
</th>
<th scope="col">1810
</th>
<th scope="col">1815
</th>
<th scope="col">1820
</th>
<th scope="col">1825
</th>
<th scope="col">1830
</th>
<th scope="col">1835
</th>
<th scope="col">1840
</th>
<th scope="col">1845
</th>
<th scope="col">1850
</th>
<th scope="col">1855
</th>
<th scope="col">1860
</th></tr>
<tr>
<td><b>0-19 ans</b>
</td>
<td>41,0
</td>
<td>41,25
</td>
<td>41,1
</td>
<td>41,6
</td>
<td>40,7
</td>
<td>40,55
</td>
<td>40.6
</td>
<td>40,25
</td>
<td>39,6
</td>
<td>38,95
</td>
<td>38,4
</td>
<td>37,7
</td>
<td>36,95
</td></tr>
<tr>
<td><b>20-59 ans</b>
</td>
<td>50,05
</td>
<td>49,75
</td>
<td>49,7
</td>
<td>48,75
</td>
<td>49,25
</td>
<td>49,45
</td>
<td>49,6
</td>
<td>50,25
</td>
<td>50,9
</td>
<td>51,4
</td>
<td>51,95
</td>
<td>52,65
</td>
<td>52,65
</td></tr>
<tr>
<td><b>60 et plus</b>
</td>
<td>8,95
</td>
<td>9,0
</td>
<td>9,2
</td>
<td>9,65
</td>
<td>10,05
</td>
<td>10,0
</td>
<td>9,8
</td>
<td>9,5
</td>
<td>9,5
</td>
<td>9,65
</td>
<td>9,65
</td>
<td>9,65
</td>
<td>10,4
</td></tr>
<tr>
<td><b>Total (%)</b>
</td>
<td>100
</td>
<td>100
</td>
<td>100
</td>
<td>100
</td>
<td>100
</td>
<td>100
</td>
<td>100
</td>
<td>100
</td>
<td>100
</td>
<td>100
</td>
<td>100
</td>
<td>100
</td>
<td>100
</td></tr></tbody></table>
Table: 9

<table class="wikitable" style="text-align:right">
<tbody><tr>
<th scope="row">Années
</th>
<th scope="row">1800
</th>
<th scope="row">1801
</th>
<th scope="row">1802
</th>
<th scope="row">1803
</th>
<th scope="row">1804
</th>
<th scope="row">1805
</th>
<th scope="row">1806
</th>
<th scope="row">1807
</th>
<th scope="row">1808
</th>
<th scope="row">1809
</th>
<th scope="row">1810
</th></tr>
<tr>
<td align="left"><a href="/wiki/Taux_de_f%C3%A9condit%C3%A9" title="Taux de fécondité">Indicateur conjoncturel de fécondité</a></td>
<td style="text-align:right; color:blue;">4,41</td>
<td style="text-align:right; color:blue;">4,36</td>
<td style="text-align:right; color:blue;">4,31</td>
<td style="text-align:right; color:blue;">4,26</td>
<td style="text-align:right; color:blue;">4,21</td>
<td style="text-align:right; color:blue;">4,16</td>
<td style="text-align:right; color:blue;">4,1</td>
<td style="text-align:right; color:blue;">4,05</td>
<td style="text-align:right; color:blue;">4</td>
<td style="text-align:right; color:blue;">3,95</td>
<td style="text-align:right; color:blue;">3,9
</td></tr></tbody></table>
Table: 10

<table class="wikitable" style="text-align:right">
<tbody><tr>
<th scope="row">Années
</th>
<th scope="row">1860
</th>
<th scope="row">1861
</th>
<th scope="row">1862
</th>
<th scope="row">1863
</th>
<th scope="row">1864
</th>
<th scope="row">1865
</th>
<th scope="row">1866
</th>
<th scope="row">1867
</th>
<th scope="row">1868
</th>
<th scope="row">1869
</th>
<th scope="row">1870
</th></tr>
<tr>
<td align="left">Indicateur conjoncturel de fécondité</td>
<td style="text-align:right; color:blue;">3,4</td>
<td style="text-align:right; color:blue;">3,51</td>
<td style="text-align:right; color:blue;">3,46</td>
<td style="text-align:right; color:blue;">3,53</td>
<td style="text-align:right; color:blue;">3,51</td>
<td style="text-align:right; color:blue;">3,53</td>
<td style="text-align:right; color:blue;">3,53</td>
<td style="text-align:right; color:blue;">3,55</td>
<td style="text-align:right; color:blue;">3,49</td>
<td style="text-align:right; color:blue;">3,49</td>
<td style="text-align:right; color:blue;">3,44
</td></tr></tbody></table>
Table: 11

<table class="wikitable" style="text-align:right">
<tbody><tr>
<th scope="row">Années
</th>
<th scope="row">1871
</th>
<th scope="row">1872
</th>
<th scope="row">1873
</th>
<th scope="row">1874
</th>
<th scope="row">1875
</th>
<th scope="row">1876
</th>
<th scope="row">1877
</th>
<th scope="row">1878
</th>
<th scope="row">1879
</th>
<th scope="row">1880
</th></tr>
<tr>
<td align="left">Indicateur conjoncturel de fécondité</td>
<td style="text-align:right; color:blue;">3,08</td>
<td style="text-align:right; color:blue;">3,59</td>
<td style="text-align:right; color:blue;">3,51</td>
<td style="text-align:right; color:blue;">3,53</td>
<td style="text-align:right; color:blue;">3,51</td>
<td style="text-align:right; color:blue;">3,57</td>
<td style="text-align:right; color:blue;">3,49</td>
<td style="text-align:right; color:blue;">3,44</td>
<td style="text-align:right; color:blue;">3,44</td>
<td style="text-align:right; color:blue;">3,36
</td></tr></tbody></table>
Table: 12

<table class="wikitable" style="text-align:right">
<tbody><tr>
<th scope="row">Années
</th>
<th scope="row">1881
</th>
<th scope="row">1882
</th>
<th scope="row">1883
</th>
<th scope="row">1884
</th>
<th scope="row">1885
</th>
<th scope="row">1886
</th>
<th scope="row">1887
</th>
<th scope="row">1888
</th>
<th scope="row">1889
</th>
<th scope="row">1890
</th></tr>
<tr>
<td align="left">Indicateur conjoncturel de fécondité</td>
<td style="text-align:right; color:blue;">3,4</td>
<td style="text-align:right; color:blue;">3,4</td>
<td style="text-align:right; color:blue;">3,38</td>
<td style="text-align:right; color:blue;">3,38</td>
<td style="text-align:right; color:blue;">3,32</td>
<td style="text-align:right; color:blue;">3,26</td>
<td style="text-align:right; color:blue;">3,22</td>
<td style="text-align:right; color:blue;">3,16</td>
<td style="text-align:right; color:blue;">3,12</td>
<td style="text-align:right; color:blue;">2,95
</td></tr></tbody></table>
Table: 13

<table class="wikitable" style="text-align:right">
<tbody><tr>
<th scope="row">Années
</th>
<th scope="row">1891
</th>
<th scope="row">1892
</th>
<th scope="row">1893
</th>
<th scope="row">1894
</th>
<th scope="row">1895
</th>
<th scope="row">1896
</th>
<th scope="row">1897
</th>
<th scope="row">1898
</th>
<th scope="row">1899
</th></tr>
<tr>
<td align="left">Indicateur conjoncturel de fécondité</td>
<td style="text-align:right; color:blue;">3,03</td>
<td style="text-align:right; color:blue;">2,96</td>
<td style="text-align:right; color:blue;">3,02</td>
<td style="text-align:right; color:blue;">2,94</td>
<td style="text-align:right; color:blue;">2,86</td>
<td style="text-align:right; color:blue;">2,98</td>
<td style="text-align:right; color:blue;">2,92</td>
<td style="text-align:right; color:blue;">2,87</td>
<td style="text-align:right; color:blue;">2,88
</td></tr></tbody></table>

In [4]:
tables_recensement = [all_tables[0], all_tables[1], all_tables[2]]
list_cols = []
list_rows = []

for tab in tables_recensement:
    table_body = tab.find("tbody")
    rows = table_body.find_all("tr")
    list_rows.append(rows)
    for row in rows:
        cols = row.find_all("td")
        cols = [ele.text.strip() for ele in cols]
        list_cols.append(cols)

cols = [ele for sublist in list_cols for ele in sublist]
rows = [ele for sublist in list_rows for ele in sublist]

dico_recensement = dict()
for row in rows:
    cols = row.find_all("td")
    cols = [ele.text.strip() for ele in cols]
    if len(cols) > 0:
        dico_recensement[cols[0]] = cols[1:]

df_recensement = pd.DataFrame.from_dict(dico_recensement, orient="index")
df_recensement.reset_index(inplace=True)
df_recensement.rename(columns={'index': 'Year', 0: 'Population'}, inplace=True)
df_recensement.drop([0, 1, 2, 3], inplace = True)
df_recensement["Year"] = df_recensement["Year"].astype(int)
df_recensement['Population'] = df_recensement['Population'].str.replace('\xa0', '').str.replace(' ', '').astype(int)
df_recensement.head()

   Year  Population
4   400    12000000
5   800     8800000
6   850     6000000
7  1226    16000000
8  1300    15000000

In [5]:
subset_recensement = df_recensement[(df_recensement["Year"] >= 1836)&(df_recensement["Year"] <= 1936)]
display(subset_recensement)

    Year  Population
40  1836    34293000
41  1841    34912000
42  1846    36097000
43  1851    36472000
44  1856    36715000
45  1861    37386000
46  1872    37653000
47  1876    38783000
48  1881    39239000
49  1886    39783000
50  1891    39946000
51  1896    40158000
52  1901    40710000
53  1902    40810000
54  1903    40910000
55  1904    41000000
56  1905    41050000
57  1906    41100000
58  1907    41100000
59  1908    41190000
60  1909    41240000
61  1910    41350000
62  1911    41420000
63  1912    41530000
64  1913    41620000
65  1914    41630000
66  1915    40020000
67  1916    40020000
68  1917    39420000
69  1918    38670000
70  1920    38900000
71  1921    39140000
72  1922    39750000
73  1923    39750000
74  1924    40170000
75  1925    40460000
76  1926    40710000
77  1927    40770000
78  1928    40880000
79  1929    41020000
80  1930    41340000
81  1931    41550000
82  1932    41510000
83  1933    41520000
84  1934    41570000
85  1935    41550000
86  1936    41500000

In [6]:
pop_1866 = (subset_recensement.loc[subset_recensement['Year'] == 1861, 'Population'].values[0] + subset_recensement.loc[subset_recensement['Year'] == 1872, 'Population'].values[0]) / 2
df_temp = pd.DataFrame({'Year': 1866, 'Population': pop_1866}, index=[5.5])
subset_recensement = pd.concat([subset_recensement.loc[subset_recensement['Year'] < 1866], df_temp, subset_recensement.loc[subset_recensement['Year'] >= 1866]])
subset_recensement.reset_index(drop=True, inplace=True)
subset_recensement = subset_recensement.drop(subset_recensement[(subset_recensement['Year'] > 1901) & (~subset_recensement['Year'].isin([1901 + 5*k for k in range(1,8)]))].index)
display(subset_recensement)

    Year  Population
0   1836  34293000.0
1   1841  34912000.0
2   1846  36097000.0
3   1851  36472000.0
4   1856  36715000.0
5   1861  37386000.0
6   1866  37519500.0
7   1872  37653000.0
8   1876  38783000.0
9   1881  39239000.0
10  1886  39783000.0
11  1891  39946000.0
12  1896  40158000.0
13  1901  40710000.0
18  1906  41100000.0
23  1911  41420000.0
28  1916  40020000.0
32  1921  39140000.0
37  1926  40710000.0
42  1931  41550000.0
47  1936  41500000.0

In [7]:
print("Estimation population size (1836 - 1936): {}".format(int(subset_recensement["Population"].sum())))

Estimation population size (1836 - 1936): 815106500